/* General body styling */
body {
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}


/* CAROUSEL CSS */
.carousel-item img {
    height: 500px; /* Adjust based on your design */
    object-fit: cover;
}
/* END OF CAROUSEL CSS */



/* CONTENT SECTION CSS */
#dynamicRestaurantDataList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 10px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff; /* Ensure background is white for readability */
  padding: 15px;
}

.card img {
  border-bottom: 2px solid #ddd;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card .restaurant-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.card .description, .card .opening-hours {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card .img-fluid {
  cursor: pointer;
  transition: opacity 0.3s;
}

.card .img-fluid:hover {
  opacity: 0.8;
}
/* END OF CONTENT SECTION CSS */



/* FOOTER CSS */
footer {
    background-color: #343a40;
    color: #ffffff;
}

footer h4 {
    margin-bottom: 10px;
}
/* END OF FOOTER CSS */



/* CONTACT US SECTION CSS */
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 30px; /* Adjust for spacing */
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
/* END OF CONTACT US SECTION CSS */
 


